@tailwind base;
@tailwind components;
@tailwind utilities;

.content-area {
  min-height: calc(100vh - 130px);
}

.clipped {
  z-index: 0;
  position: relative;
}

.clipped::before {
  --diagonal-padding: 120px;
  background-color: inherit;
  content: '';
  position: absolute;
  top: calc(-1 * var(--diagonal-padding));
  left: 0;
  width: 100%;
  height: calc(100% + (var(--diagonal-padding) * 2));
  clip-path: polygon(
    0% var(--diagonal-padding),
    100% 0%,
    100% calc(100% - var(--diagonal-padding)),
    0% 100%
  );
  -webkit-clip-path: polygon(
    0% var(--diagonal-padding),
    100% 0%,
    100% calc(100% - var(--diagonal-padding)),
    0% 100%
  );
}
